################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/*/bin
/*/obj
/Messaging.Web/Messaging.Web.csproj.user
